{
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx", "cn", "twmerge", "cva"],
  "tailwindStylesheet": "./src/app/globals.css"
}
