# AI Providers Api Keys

OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
DEEPSEEK_API_KEY=
ELEVENLABS_API_KEY=

# Authentication

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# Persistance Storage (Postgresql)

DATABASE_URL=
REDIS_URL=

# Public environments

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_TRIGGER_API_URL=http://localhost:8030
NEXT_PUBLIC_BILLING_ENABLED=1

# Billing Core
BILLING_ENABLED=1

# Changelly Pay Configuration
CHANGELLY_PAY_API_KEY=
CHANGELLY_PAY_API_SECRET=
